<section *ngIf="step1" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <label class="fw-bold mb-2" for="Email">Email</label>
        <input formControlName="email" type="email" class="form-control" id="Email">
        <button class="btn btn-success d-block mx-auto mt-4">Forget Password</button>
        <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">{{userMes}}</p>
    </form>
</section>


<section  *ngIf="step2" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label class="fw-bold mb-2" for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="btn btn-success d-block mx-auto mt-4">Confirm</button>
        <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">{{userMes}}</p>
    </form>
</section>


<section  *ngIf="step3" class="w-50 shadow bg-main-light p-3 mt-5 mb-3 rounded mx-auto">
    <form [formGroup]="resetPassForm" (ngSubmit)="newPassword()" >
        <label class="fw-bold mb-2" for="newPass">New Password</label>
        <input formControlName="newPassword" type="text" class="form-control" id="newPass">
        <button class="btn btn-success d-block mx-auto mt-4">Reset Password</button>
        <p *ngIf="userMes" class="alert alert-info text-center mb-0 p-1 mx-auto w-75 mt-2">{{userMes}}</p>
    </form>
</section>