<section class="container shadow bg-main-light p-3 mb-3 rounded mx-auto" *ngIf="cartProduct;else msg">
        <h1 class="h2">Shop Cart</h1>
        <button (click)="clearCart()" class="clear-btn btn d-block ms-auto ">Clear Your Cart</button>   
    <p>Total Price: {{cartProduct.totalCartPrice | currency:'e£ '}}</p>

    <div class="row border-bottom py-2"*ngFor="let item of cartProduct.products">
        <div class="col-md-1">
            <div>
                <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
            </div>
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between align-items-center">
                <div class="w-75">
                    <h3 class="h6">{{item.product.title}}</h3>
                    <p class="mb-0">Price: {{item.price | currency:'e£ '}}</p>
                    <button #btnRemove (click)="removeItem(item.product._id,btnRemove)" class="btn-reomve border-0 "><i class="fas fa-trash-can "></i> Remove</button>
                </div>
                <div class="countBtn">
                    <button #btn1 (click)="changeCount(item.count - 1 , item.product._id , btn1)" class="btn btn-sm border-success px-2 mx-2">-</button>
                    <span>{{item.count}}</span>
                    <button #btn2 (click)="changeCount(item.count + 1 , item.product._id , btn2)" class="btn btn-sm border-success px-2 mx-2">+</button>

                </div>
            </div>
        </div>
    </div>
   
    <button [routerLink]="['/payment',cartProduct._id]" class="btn btn-primary d-block mx-auto mt-3">Online Payment <img class="visa" src="./assets/images/visa-mastercard.png" alt="visa"></button>
</section>

<ng-template #msg>
    <h2 class="text-center">Your Cart Is Empty . . . .</h2>
</ng-template>
