$main-color:#0aad0a;
.btn-reomve{
    color: rgb(209, 6, 6);
    &:disabled{
        color: rgb(233, 102, 102);
        cursor: not-allowed;
    }
}
.countBtn{
    button{
        border-color: #0aad0a !important;
        color: black !important;
    }
    &:disabled{
        border-color: #8fdb8f !important;
        color: rgb(119, 114, 114) !important;
        cursor: not-allowed;
    }
}
.clear-btn{
    border-color: rgb(209, 6, 6) !important;
    color: black !important;
    transform: translateY(-100%);
    &:disabled{
        border-color: rgb(233, 102, 102) !important;
        color: rgb(119, 114, 114) !important;
        cursor: not-allowed;
    }
    &:hover{
        background-color: rgb(209, 6, 6) !important;
        color: whitesmoke !important;
    }
}
.visa{
    width: 50px;
}